

#Alert{
position:relative;
border:0px;border-style:solid;
border-color:#888888;

}

/*===SumOfProd==============================================================*/

#Alert #Title{
  position:relative;
  float:none;
  clear:both; 
  padding-top:50px; 
  padding-bottom:50px;
  border:0px;border-style:solid;
  border-color:#888888;
  color:#ffffff;    
  background:#FFD700;
  font-size:60pt;
}

#Alert #Content{
  position:relative;
  float:none;
  clear:both;
  height:500px;
  padding-top:50px; 
  padding-bottom:50px;
  border:0px;border-style:solid;
  border-color:#888888;
  color:#000000;    
  background:#ffffff;
  font-size:30pt;

}

